{
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"rules": {
		"no-shadow": "off",
		"max-len": ["warn", {"code": 100}],
		"semi": "warn"
	}
}
