{
  "local": {
    "GOOGLE_API_ENDPOINT": "https://www.googleapis.com/identitytoolkit/v3",
    "GOOGLE_API_KEY": "some-api-key",
    "SECURE_TOKEN_API_ENDPOINT": "https://securetoken.googleapis.com/v1",
    "API_ENDPOINT": "http://localhost:4200/api",
    "EMAIL": "email",
    "PASSWORD": "password"
  },
  "prod": {
    "GOOGLE_API_ENDPOINT": "https://www.googleapis.com/identitytoolkit/v3",
    "GOOGLE_API_KEY": "some-api-key",
    "SECURE_TOKEN_API_ENDPOINT": "https://securetoken.googleapis.com/v1",
    "API_ENDPOINT": "http://localhost:4200/api",
    "EMAIL": "email",
    "PASSWORD": "password"
  }
}
